@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: hsl(219, 17%, 24%);
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
